<div id="footer">
  <span class="textSpan-2">Elbrus TeaList | Все права защищены</span>
    <ul class="navPart">
      <li class="navLi"><a href="https://www.youtube.com/channel/UCaKZxz2d1KI-wN3l6fX7zdQ/featured"><img id="youtube" src="/img/youtube_line.svg" alt="youtube icon"></a></li>
      <li class="navLi"><a href="https://t.me/elbrusbootcamp1"><img id="telegram" src="/img/telegram_line.svg" alt="telegram icon"></a></li>
      <li class="navLi"><a href="https://vk.com/elbrusbootcamp"><img id="vk" src="/img/vkontakte_line.svg" alt="vk icon"></a></li>
    </ul>
</div>